include LICENSE
include README.md
include *.yaml
recursive-include resokit *.py
recursive-include resokit *.zip

exclude tox.ini
exclude pyproject.toml
recursive-exclude docs *
recursive-exclude tests *
